<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>


<div class="container">
    <br>
    <h1>My Library</h1>
    <br><br>

    <form th:action="@{/add}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label for="book-author" class="col-2 col-form-label">Author:</label>
            <div class="col-10">
                <input class="form-control"  type="text" th:field="*{author}" placeholder="Stephen King" id="book-author">
            </div>
        </div>
        <div class="form-group row">
            <label for="book-title" class="col-2 col-form-label">Title:</label>
            <div class="col-10">
                <input class="form-control"  type="text" th:field="*{title}" placeholder="The greatest book" id="book-title">
            </div>
        </div>
        <div class="form-group row">
            <label for="book-genre" class="col-2 col-form-label">Genre:</label>
            <div class="col-10">
                <input class="form-control" type="text" th:field="*{genre}" placeholder="criminal" id="book-genre">
            </div>
        </div>
        <div class="form-group row">
            <label for="book-year" class="col-2 col-form-label">Release year:</label>
            <div class="col-10">
                <input class="form-control" type="text" th:field="*{releaseYear}" placeholder="2018" id="book-year">
            </div>
        </div>
        <div class="form-group row">
            <label for="book-plot" class="col-2 col-form-label">Plot desctiption:</label>
            <div class="col-10">
                <!--<input class="form-control" type="text" th:field="*{plot}" placeholder="In 1995 a family of..." id="book-plot">-->
                <textarea th:field="*{plot}" id="book-plot" class="form-control" rows="3" placeholder="In 1995 a family of...">
                    </textarea>
            </div>
        </div>
        <p><button type="submit" class="btn btn-outline-primary">Dodaj</button></p>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>